	/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/
.tablinks {
	position: relative;
	padding-right: 20px; /* Adjust padding as needed */
  }
  
  .right-arrow {
	display: inline-block;
	margin-left:20%;
	//margin-top: -0%; /* Space between text and arrow */
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid rgb(255, 8, 8); /* Color of the arrow */
	transition: transform 0.3s ease;
	transform: translateX(-10px);
	opacity: 0;
	font-size: larger;
  }
  
  
  .tablinks:hover .right-arrow {
	transform: translateX(0);
	opacity: 1;
  }
  

.navbar-brand {
	width: 70px;
	height: 50px;
	background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
	background-size: 50px;
}

.nav-tabs {
	display: inline-block;
	border-bottom: none;
	padding-top: 15px;
	font-weight: bold;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: none;
	border-radius: 0;
}

.nav-list {
	border-bottom: px solid #eee;
}

.nav-list > li {
	padding: 20px 15px 15px;
}

.nav-list > li:last-child {
	border-right: 0px solid #eee;
}

.nav-list > li > a:hover {
	text-decoration: none;
}

.nav-list > li > a > span {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}

.mega-dropdown {
	position: static !important;
}

.mega-dropdown-menu {
	padding: 20px 15px 15px;
	text-align: center;
}

.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}

.mega-dropdown-menu > li > ul > li {
	list-style: none;
	text-align: left;
}

.mega-dropdown-menu > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #999;
	white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
	text-decoration: none;
	color: #444;
	background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
	color: #428bca;
	font-size: 18px;
	font-weight: bold;
}

.mega-dropdown-menu form {
	margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
	margin-bottom: 3px;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media(max-width:768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}

.navbar-brand {
	width: 70px;
	height: 50px;
	background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
	background-size: 50px;
	padding-top: 7px;
}

.navbar-nav {
	padding-left: 15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #00486c;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 1px;
	margin-right: auto;

	//background-color: rgb(51, 79, 111);
}
element.style {
  background-color: rgb(250, 250, 250)
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background-color: #428bca;
}

.navbar[_ngcontent-ecg-c21] {
  background-color: #ff0000;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 1136px;
	padding: 5px 0px;
	margin: 2px 0px 0px;
	font-size: 14px;
	list-style: none;
	background-color: rgb(255, 0, 0);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.14902);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
}

.dropdown-menu-list {
	min-width: 220px;
}

.nav-list > li {
	padding: 20px 15px 15px;
	border-left: 0px;
	.nav-list {
		border-bottom: 0px;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		color: white;
		cursor: default;
		background-color: #428bca;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		color: black;
		cursor: default;
		background-color: rgb(255, 255, 255);
		border: solid black 1px;
	}
	body {
		padding-top: 20px;
	}
	#myCarousel .nav a small {
		display: block;
	}
	#myCarousel .nav {
		background: #eee;
	}
	.nav-justified > li > a {
		border-radius: 0px;
	}
	.nav-pills>li[data-slide-to="0"].active a {
		background-color: #16a085;
	}
	.nav-pills>li[data-slide-to="1"].active a {
		background-color: #e67e22;
	}
	.nav-pills>li[data-slide-to="2"].active a {
		background-color: #2980b9;
	}
	.nav-pills>li[data-slide-to="3"].active a {
		background-color: #8e44ad;
	}
	.carousel-inner {
		position: relative;
		width: 100%;
		overflow: hidden;
	}.bar .dropdown:hover .dropdown-menu {
      display: none; /* Hide dropdown on small screens */
  }
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom:1rem;
}

.navbar .dropdown-menu {
 border:none;
 background-color: white;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
 
 /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
 padding-top:0px;
 padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
 padding:.5rem .5rem;
 margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {

 left:0;
 right:0;
/*  height of nav-item  */
 top:45px;
 
 display:block;
 visibility: hidden;
 opacity: 0;
 transition: visibility 0s, opacity 0.3s linear;
 
}
 
//tabs

.tab {
  float: left;

  background-color: #f1f1f1;
  width: 30%;
  height: 400px;


}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ffffff;
}

.tab button.active {
  background-color: #ffffff;
}
.tablinks {
  font-size: small;
  cursor: pointer;
  padding: 8px 12px; /* Adjust padding as needed */
  background-color: transparent; /* Initial background color */
  border: none;
  outline: none;
  transition: background-color 0.3s ease; /* Transition for smooth effect */
}

.tablinks:hover {
  background-color: #f0f0f0; /* Background color on hover */
}
.tabcontent {
  float: left;
  padding: 0px 12px;
 // border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  background-color:  white;
  height: 381px;
  display: none;
  padding-right: 230px;
}

.tab[_ngcontent-ydh-c21] button.active[_ngcontent-ydh-c21] {
  background-color:  white;
}
 
 /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
 display:block;
 visibility: visible;
 opacity: 1;
 transition: visibility 0s, opacity 0.3s linear;
}
 
 .navbar .dropdown-menu {
   border: 1px solid rgba(0,0,0,.15);
   background-color: #fff;
 }

}




.grid-item {

  font-size: 14px;
  border-bottom: 2px solid #d90000;
width: 400px;
  padding: 10px;

  }


  .home a {
    color: black; /* Initial text color */
    //background-color:#e0e0e0; /* Initial background color */
	text-decoration: none;
	color: inherit; 
    padding: 5px;
    display: inline-block;
}
a[_ngcontent-jan-c21] {
  color: #ff0000;
}

.home a:hover {
    color: rgb(255, 0, 0); /* Text color on hover */
    //background-color:rgb(255, 0, 0);/* Background color on hover */
	
}
.home {
	a {
	  text-decoration: none;
	  color: inherit;
	  position: relative;
  
	  &::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform 1.3s ease-out;
	  }
  
	  &:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	  }
	}
  }
  .dropdown {
	a {
	  text-decoration: none;
	  color: inherit;
	  position: relative;
  
	  &::after {
		content: '';
		position: absolute;
		width: 80%;
		//margin-right: 23%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		right: 1.32%;
		//right: 3;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform 1.3s ease-out;
	  }
  
	  &:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
		padding-left: 30%;
	  }
	}
  }
  .dropdown-menus {
	a {
	  text-decoration: none;
	  color: inherit;
	  position: relative;
  
	  &::after {
		content: '';
		position: absolute;
		width: 0%;
		//margin-right: 23%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		right:0;
		//right: 3;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform 1.3s ease-out;
	  }
  
	  &:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
		padding-left: 0%;
	  }
	}
  }
  .drop {
	a {
	  text-decoration: none;
	  color: inherit;
	  position: relative;
  
	  &::after {
		content: '';
		position: absolute;
		width: 0%;
		//margin-right: 23%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		right:0;
		//right: 3;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform 1.3s ease-out;
	  }
  
	  &:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
		padding-left: 0%;
	  }
	}
  }

.home a:active {
    color: red; /* Text color when active/clicked */
    //background-color: rgb(255, 0, 0); /* Background color when active/clicked */
}
.menu-link {
    color: black; /* Default color */
    text-decoration: none;
}

.menu-link:hover {
    color: blue; /* Change this to the color you want on hover */
}

/* Change background color of li when a is hovered */
.menu-link:hover {
    background-color: white; /* Change this to the background color you want on hover */
}

/* Change link color back to original when not hovered */
.menu-link:hover .menu-link {
    color: black;
}




.toggle {
  position: relative;
  display: inline-block;
  color: #000; /* Default text color */

}

.toggle::before,
.toggle::after {
  content: '';
  position: absolute;


 
  //transition: all 0.3s;
}



.toggle:hover {
  color: #ff6347; /* Hover text color */
}

.dropdown-menus {
  display: none;
  position: absolute;
  background-color:#e0e0e0;
  min-width: 160px;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menus {
  display: block;
}

.dropdown-menus a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menus a:hover {
  background-color:#e0e0e0;
  color: #ff6347; /* Hover color for dropdown items */
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ff0000;
}

/* Basic styles for the navbar and sidebar */
.navbar {
  //background-color: #e0e0e0;

  .navbar-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-right: 1em;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
}
.logo-wrapper {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center (optional) */
  width: 100%;
  padding: 10px 0;
}

/* Toggle button styles */
.toggle-button {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

/* Sidebar styles */


/* Media queries for responsive design */
@media (max-width: 1000px) {
  .navbar {
    display: none; /* Hide the navbar items in mobile view */
  }

  .toggle-button {
    display: block; /* Show the toggle button in mobile view */
  }

  .sidebar {
    .sidebar-items {
      padding-top: 40px; /* Adjust padding to make room for the toggle button */
    }
  }
}

.submenuv {
  display: none;
}
.dropdownv:hover .submenuv {
  display: block;
}






//


.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
}


.nav-text {
  margin: 0; /* Ensure there's no extra space around the text */
  padding: 0;
  color: black;
}
.nav-text:hover{
  color: #f40404;
}
.dropdown-icon {
  font-size: 30px; /* Adjust the size as needed */
}
.sidebar .logo-section {
  text-align: center;
}

.sidebar .tagline {
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d;
}

.sidebar .divider {
  border: none;
  border-top: 1px solid #797979;
  margin: 10px 0;
}




.topbar-info .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.05rem;
  margin-top: 10px;
}
.topbar-info .info-item a {
  color: #157fda;
 font-weight: bolder;
 font-family: Roboto, Helvetica Neue, sans-serif;

}
.topbar-info .info-item span {
 color: black;
 font-weight: bolder;
 font-family: Roboto, Helvetica Neue, sans-serif;
}

/* Style for the sidebar container */
@media screen and (max-width: 768px) {
 #header {
 display: none;
 }
 }
//side


/* Base styles */
.sidebar {
 position: fixed;
 top: 0;
 left: -250px; /* hide by default */
 width: 250px;
 height: 100%;
 background-color: #ffffff;
 box-shadow: 2px 0 5px rgba(0,0,0,0.3);
 z-index: 9999;
 overflow-y: auto;
 transition: left 0.4s ease-in-out;
 padding-top: 70px;
}

.sidebar.active {
 left: 0; /* slide in when active */
}

.toggle-button {
 position: fixed;
 top: 10px;
 left: 15px;
 font-size: 28px;
 z-index: 10000;
 color: #000;
 background: transparent;
 border: none;
 cursor: pointer;
}

/* Smooth dropdown */
.dropdown-container {
 display: none;
 transition: max-height 0.3s ease;
 overflow: hidden;
}

.dropdown-container.show {
 display: block;
}

/* Sidebar list items */


/* For mobile view */
@media screen and (max-width: 768px) {
 .sidebar {
 width: 250px;
 }

 .toggle-button {
 display: block;
 }

 .container-fluid.topbar-top,
 .logo {
 text-align: center;
 }

 .sidebar-items img {
 width: 180px;
 }

 .para {
 font-size: 12px;
 margin-left: 5px;
 color: #333;
 }

 .info-item span {
 display: block;
 font-size: 12px;
 margin-bottom: 4px;
 }
}


.sidebar-items {
 padding: 0;
 margin: 0;
 text-align: center;
}

.sidebar-items li {
 list-style: none;
 border-bottom: 1px solid #ddd;
 padding: 12px 0;
 font-size: 16px;
}

.sidebar-items li a,
.dropdown-btn {
 display: inline-flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
 color: #333;
 text-decoration: none;
 width: 100%;
 font-size: 16px;
 transition: color 0.3s ease;
}

.sidebar-items li a:hover,
.dropdown-btn:hover {
 color: #d90000;
}

.sidebar-items i {
 font-size: 16px;
 color: #d90000;
}

@media (max-width: 768px) {
 .sidebar-items li {
 font-size: 15px;
 padding: 10px 16px;
 }
}
.dropdown-btn {
 background: none;
 border: none;
 width: 100%;
 padding: 7px 13px;
 text-align: left;
 font-size: 15px;
 cursor: pointer;
 border-bottom: 1px solid #ddd;
}

.dropdown-container {
 display: none;
 padding-left: 0px;
 background-color: #f9f9f9;
}

.dropdown-container.show {
 display: block;
}

.dropdown-container li {
 border-bottom: 1px solid #eee;
 padding: 10px 0;
}

.dropdown-container a {
 color: #333;
 text-decoration: none;
}

.dropdown-container a:hover {
 color: #d90000;
}

//followus
.follow-us {
 text-align: center;
 padding: 15px 0;
}

.follow-us p {
 font-weight: bold;
 font-size: 14px;
 text-decoration: underline;
 text-decoration-color: red;
 margin-bottom: 120px;
}

.follow-us-icons {
 display: flex;
 justify-content: center;
 gap: 12px;
}

.follow-us-icons i {
 font-size: 22px;
}

//logo
.logo-container {
 display: flex;
 flex-direction: column;
 align-items: center; /* horizontal center */
 justify-content: center; /* vertical center if needed */
 text-align: center;
 margin-top: 10px;
}

.logo-container img {
 width: 190px;
 height: auto;
}

.sucess_MOB p {
 margin-top: 8px;
 font-size: 14px;
 color: #333;
 font-weight: 500;
}