.for{
    margin-left: 27%;
    margin-top: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.text{
    margin-left: 18%;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.box
{
    margin-left: -11%;
   
    padding-left: 30%;
    size: 30%;
    
}

