<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item" style="padding-left: 5%;">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#/aboutus-page">About Us</a></li>
                      <li><a href="#" routerLink="/franchise">Franchise</a></li>
                      <li><a href="#" (click)="navigateAndReload($event)">Career</a></li>
                      <li><a href="#" routerLink="/contactus">Contact Us</a></li>
                      <!-- <li><a href="#" [routerLink]="['/assets/sitemap.xml']" target="_blank">Sitemap</a></li> -->
                      <li><a href="#" routerLink="/Privacy&Policy">Privacy & Policy</a></li>
                      <li><a href="https://portal.aviationacademy.co.in/#/auth/login"> Admin Login</a></li>
                       <li><a href="#" routerLink="/franchiselogin"> Franchise Login</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item"  style="padding-left: 5%;">
                  <h3>Useful links</h3>
                  <ul>
                      <li><a href="#">National Skill Development Corporation</a></li>
                      <li><a href="#"> National Council for Vocational Training</a></li>
                      <li><a href="#">Skill India</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text contact-section">
                <h3>Contact us</h3>
                <p>
                    Head Office - VnV Towers, No. 11, 2nd Cross,<br> 24th Main Rd, JP Nagar 7th Phase,
                    <br>Bengaluru - 560078<br>
                    Mobile: 8951680096, 9035867542
                </p>
            </div>
            
              <div class="col item social" style="margin-left: -3%;">
    <a href="https://www.facebook.com/profile.php?id=61561767472186">
      <img src=" assets/img/boo.png" style="width: 34px;margin-left: 6%;">
    </a>
               
                <a href="https://www.instagram.com/aviation.acdmy?igsh=Yzloazh0YTVlZGM4 ">

                  <img src=" assets/img/insta.png" style="width: 40px; margin-left: 2%; ">
                 </a>
                
                 <a href="https://www.youtube.com/channel/UCk26z5zB_8oXZhWMGdezRCA">

                    <img src=" assets/img/red.png" style="width: 31px; margin-left: 2%;">
                 </a>
                
              </div>
          </div>
          <p class="copyright">Company Name © Vikas Global Solutions</p>
      </div>
  </footer>
  
 