<div class="image-container">
    <img src="assets/img/ourmembers.jpg " alt="Boston city skyline">

  </div>
<div>

  
<mat-card>
  <div class="container">
    <div class="our">
      <P class="po" >Our Advisors</P>

    </div>
 
  </div>


<div>

  <section class="zoom-in">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
       

      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/D.V.Venkatachalapati.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="150" height="150" />
        </div>
      <div>
        <h5 class=font>D.V.Venkatachalapati</h5>
      </div>
      <div>
        <P class=fonts>Chairman & Managing Director </P>
        <P  class="disc">Vikas Global Solutions Ltd ,<br>Sharada Vikas Group of Institutions</P>
      </div>
    

       
    
      </div>
       <div class="col-md-4 mb-5 mb-md-0 scroll-in-left"  >
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Kuchanna Sirnivasan.png"
            class="rounded-circle shadow-1-strong image-hover-effect" width="115" height="115" />
        </div>
      <div>
        <h5 class=font>Kuchanna Srinivasan IPS</h5>
      </div>
      <div>
        <P class=fonts>CEO and IPS,DGP (Retd)   </P>
        <P class="disc"> CEO at ESD Builders and Developers Pvt ltd. <br> IPS, DGP (Retd) Karnataka State.</P>
      </div>
      </div>

      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/what.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="140" height="130" />
        </div>
      <div>
        <h5 class=font>Sheelatha Divakar</h5>
      </div>
      <div>
        <P class=fonts>CEO and Founding Principal   </P>
        <P class="disc"> CEO at Aviation Academy , Founding Principal <br>- Rockwood Green Public School (Former)</P>
      </div>
      </div>
     <div>

      
     </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Captain Kaustav.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="120" height="120" />
        </div>
      <div>
        <h5 class=font>Capt. Kaustav Nath</h5>
      </div>
      <div>
        <P class=fonts>Founder & Founding Partner  </P>
        <P class="disc">Founding Partner MindPhoenix Advisory Services LLP  & <br>Founder .Currently associated with Skill Development <br>Corporation Govt. of India as State Engagement Officer</P>
      </div>
    

       
    
      </div>
       <div class="col-md-4 mb-5 mb-md-0 scroll-in-left">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Brigadier Arun Pandey.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="120" height="120" />
        </div>
      <div>
        <h5 class=font>Brigadier Arun Pandey </h5>
      </div>
      <div>
        <P class=fonts> CEO at Aadya Global Healthcare  </P>
        <P class="disc">CEO Defence Services Officers <br>Institute, Delhi. Indian Army VSM (Retd)</P>
      </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left" >
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/sunilcut.png"
            class="rounded-circle shadow-1-strong image-hover-effect" width="130" height="130" />
        </div>
      <div>
        <h5 class=font>Sunil Agarwal IPS</h5>
      </div>
      <div>
        <P class=fonts> IPS, ADGP (Retd) Karnataka State.  </P>
        <!-- <P style="font-size: small;font-weight: 600">Director DroneAcharya Aerial Innovations Ltd, Iora Ecological Solutions, Head NbS, NRM & Strategy, Head Forest & NRM Strategy, Karnataka Forest Department, APCCF & Advisor to Government of Karnataka, Managing Director KSEDC.</P> -->
      </div>
      </div>
      <!-- <div class="col-md-4 mb-5 mb-md-0" style="margin-left: -10px;">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Dr. Prasanna H M.jpeg"
            class="rounded-circle shadow-1-strong" width="160" height="165" />
        </div>
      <div>
        <h5 class=font>Dr. Prasanna H.M</h5>
      </div>
      <div>
        <P> Chairman and Managing Director   </P>
        <P style="font-size: small;"> Pristine Hospital / Magnus healthcare</P>
      </div>
      </div> -->
     <div>

      
     </div>
    </div>

    <div class="row text-center">
  
      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left" >
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Sanjay Sahay.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="130" height="135" />
        </div>
      <div>
        <h5 class=font>Sanjay Sahay IPS</h5>
      </div>
      <div>
        <P class=fonts>Former IPS Officer, Founder & Director   </P>
        <P class="disc"> TechConPro, Cyber Security Expert,<br> Professional Public Speaker & Writer</P>
      </div>
      </div>


      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left"  >
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/R K Srivastava.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="130" height="135" />
        </div>
      <div>
        <h5 class=font>R.K. Srivastava IFS</h5>
      </div>
      <div>
        <P class=fonts>Director & Managing  Director</P>
        <P class="disc">Director DroneAcharya Aerial <br>Innovations Ltd, Iora Ecological Solutions,<br> Head NbS, NRM & Strategy, Head Forest & NRM Strategy,<br> Karnataka Forest Department, APCCF &<br> Advisor to Government of Karnataka, Managing Director KSEDC.</P>
      </div>
      </div>



      <div class="col-md-4 mb-5 mb-md-0 scroll-in-left" >
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Dr. Prasanna H M.jpeg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="130" height="135" />
        </div>
      <div>
        <h5 class=font>Dr. Prasanna H.M</h5>
      </div>
      <div>
        <P class=fonts>  Chairman and Managing Director</P>
        <P class="disc">Pristine Hospital / Magnus healthcare</P>
      </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/img/Tarun Krishnamurthy new.jpg"
            class="rounded-circle shadow-1-strong image-hover-effect" width="150" height="150" />
        </div>
      <div>
        <h5 class=font>Tarun Krishnamurthy</h5>
      </div>
      <div>
        <P class=fonts>Founder Director  & Former Vice President</P>
        <P class="disc">Founder Director Anzen Technology Partners,<br> Former Vice President at Forcepoint,<br> India & Senior Director McAfee Software / Intel Security, India,<br> Borland International, Boston, Sydney & California</P>
      </div>
    

       
    
      </div>
     <div>

      
     </div>
    </div>
  </section>



</div>
</mat-card>

</div>