  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3 style="font-family: 'Open Sans', sans-serif;">MEDETEL HEALTH</h3>
              <p style="font-family: 'Open Sans', sans-serif;">
                Vikas Global Solutions Ltd<br>
                VnV Towers, No. 11, 2nd cross,<br> 24th main, JP Nagar, 7th Phase,<br>opp: Brigade
                PalmSprings,<br>Bengalore-560078<br>
                <strong><i class="bi bi-telephone-fill"></i> Phone : </strong> 080-26590420/42506500<br>
                <strong><i class="bi bi-envelope-fill"></i> Email : </strong>enquiry@medetel.in<br>
              </p>
              <div class="social-links mt-3">
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-youtube"></i></a> -->
                <a href="https://www.facebook.com/people/Medetel-Health/100095503840120/ "  target="_blank"style="background-color: #157fda;">
                  <img src="assets/img/face.jpg" alt="" height="30" width="30" style="margin-left: 10px !important;">
                </a>
               
                <a href="https://twitter.com/medetel_health" target="_blank" style="background-color: #157fda;">
                  <img style="margin-left: 8px;" src="assets/img/twitlo.png" alt="" height="30" width="30">
                </a>
          
          <a href="https://www.youtube.com/@medetelhealth"  target="_blank" style="background-color: #157fda;">
            <img style="margin-left: 8px;" src="assets/img/youtube-play.png" alt="" height="30" width="30">
          </a>
              <a href="https://www.instagram.com/accounts/login/?next=%2Fmedetel_health%2F&source=desktop_nav/medetel_health" target="_blank" style="background-color: #157fda;">
                <img style="margin-left: 8px;" src="assets/img/instagram-new.png" alt="" height="30" width="30" >
              </a>
          <!-- <a href="https://www.instagram.com/medetel_health/" style="background-color: #157fda;"> -->
            
          
          
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <!-- <h4>Quick Links</h4> -->
            <ul>
              <li><i class="bx bx-chevron-right"></i><a style="cursor: pointer;" routerLink="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/clinicalservices">Services</a></li>
               <li><i class="bx bx-chevron-right"></i> <a routerLink="/termsconditions">Terms & Conditions</a></li> 
               <li><i class="bx bx-chevron-right"></i> <a routerLink="/privacypolicy">Privacy policy</a></li> 
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/quicklinks">Quick links</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://phcui.medetel.in">Admin login</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://telemedicinephcui.esdinfra.com">Admin login</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="https://demo.phcui.esdinfra.com">Admin login</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a routerLink="/newsources">Sources</a></li> -->
             
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="margin-left: 90px;font-family: 'Open Sans', sans-serif;">Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/physician">Clinical Doctor</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://telemedicineportal.esdinfra.com/#/auth/login-doctor">Join us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/support">Support</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/gallery">Gallery</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <section id="cta" style="background-color: #157fda !important;padding: 0px !important;" class="cta">
              <div class="container">
        
                <div class="text-center">
                  <h4 style="font-family: 'Open Sans', sans-serif;">Medetel Health App</h4>
                  <!-- <p> Access video consultation with India’s top doctors on the Telemedicine app. Connect with doctors online,
                    available 24/7, from
                    the comfort of your home.</p> -->
                  <!-- <a class="cta-btn scrollto" href="#"><span class="d-none d-md-inline">Download </span>Telemedicine App</a> -->
                  <div>
                    <img src="assets/img/Google-Play.webp" width="150" height="50" >
                    <img class="mt-2" src="assets/img/App-Store.webp" width="150" height="50" >
                  </div>
                
                </div>
              </div>
            </section>


            <!-- <p>Get healthy news, tip and solutions to your problems from our experts.</p> -->
            <!-- <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright"> 
        Copyright © 2024 Medetel Health, All rights Reserved. 
      </div>
      <div class="credits">
        Powered By <a href="http://www.vikasglobal.net/" style="color: #13dce2;">Vikas
          Global Solutions
          Ltd.</a>
      </div>
    </div>       
  </footer><!-- End Footer -->